<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title : 'About'}) %>
</head>
<body>
    <%- include('../partials/nav.ejs', {path : '/about'}) %>
    <h1>We are in About page</h1>
</body>
</html>